.posters-container {
  margin-top: 1rem;
}

.mini-poster-icon {
  border-radius: .5rem;
  margin: .7rem;
  width: 8rem;
}

.standard-poster-icon {
  border-radius: .5rem;
  margin: .7rem;
  width: 15rem;
}

.mini-poster-icon:hover {
  transform: scale(1.07) perspective(1px);  
}

.standard-poster-icon:hover {
  transform: scale(1.07) perspective(1px);  
}