.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  color: white;
  margin: 0 0 1rem 0;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none;
}

.movie-background {
  background: url('https://cdn.vox-cdn.com/thumbor/G1M4s7PYspFC0wR04ctlpJwWKBo=/0x0:5563x3709/1820x1213/filters:focal(2302x1311:3192x2201):format(webp)/cdn.vox-cdn.com/uploads/chorus_image/image/65752607/1048232144.jpg.0.jpg') no-repeat center center fixed;
}