.movie-background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
}

.movie-card {
  border: 1px solid black;
  width: 30rem;
  padding: 2rem;
  margin-left: 2rem;
  background: white;
}